.section-title{
    border-bottom: 2px solid;
    padding-bottom: 2px;
    margin-bottom: 12px;
    display: inline-block;
}
.note{
    margin-top: 60px;
}
body{
    max-width: 900px;
    margin: 40px;
    padding: 0 20px;
}
